*{
    color: red;
}
h1{
    color: blue;
}
input{
    width: 200px;
    background-color: #ccc;
}
input [type="text"]{
    width: 300px;
    background-color: #252;
}
input enviar{
    width: 500px;
    background-color: red;
}